@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


/* teacher previews / list */
.teacher-list {
  padding: 20px;
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(253, 183, 183), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.teacher-element-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  text-align: left;
}
.teacher-element-preview:hover {
  box-shadow: 1px 3px 5px #f18caa;
  border-bottom: #f1356d;
}
.teacher-element-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.teacher-element-preview button {
  left: 10px;
  display: block;
  margin-bottom: 8px;
}
.teacher-element-preview a {
  text-decoration: none;
}



.not-found {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: left;
}

