.home, .create, .administration{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.tabs-container {
  max-width: 100%;
  margin-bottom: 10px;
}

.tab {
  width: 200px;
}
